/* !============ For eventTest.js ============  */

#eventContainer {
  height: 900px;
  /* margin: 1em; */
  overflow: visible;

  h6 {
    padding: 1em;
  }

  img {
    height: 20em;
    width: auto;
    padding: auto;
    border-radius: 20px;
  }
}

@media (max-width: 768px) {
  #first,
  #second,
  #third,
  #fourth,
  #fifth {
    width: 300px !important;
    height: 400px !important;
  }
}

/* #first,#second, #third, #fourth, #fifth{
  backdrop-filter: blur(1rem) !important;
   -webkit-backdrop-filter: blur(1rem) !important;
} */
