#eventContainer {
  height: 50vh;
  width: 100vh;
  border-radius: 20px;
}

#eventContainerSlider {
  border-radius: 20px;
}

.aws-btn {
  --slider-height-percentage: 60%;
  --slider-transition-duration: 770ms;
  --organic-arrow-thickness: 7px;
  --organic-arrow-border-radius: 10px;
  --organic-arrow-height: 26px;
  --organic-arrow-color: #056a78;
  --control-button-width: 10%;
  --control-button-height: 25%;
  --control-button-background: transparent;
  --control-bullet-color: #3a8779;
  --control-bullet-active-color: #317367;
  --loader-bar-color: transparent;
  --loader-bar-height: 6px;
}

