/* ! ==========> Z-index > 3 <========== */

* {
  padding: 0;
  margin: 0;
  overflow-x: hidden;
}
.card {
  border: none;
  border-radius: 20px;
}
.back {
  overflow-x: hidden;
}

.glass {
  background: rgba(255, 255, 255, 0.25);
  backdrop-filter: blur(2rem);
  -webkit-backdrop-filter: blur(2rem);
  border: 1px solid rgba(85, 56, 56, 0.18);
  z-index: 3;
  position: relative;
  height: 100vh;
  width: 100vw;
}
.circle1,
.circle2,
.circle3 {
  position: absolute;
  height: 20rem;
  width: 20rem;
  top: -10%;
  left: -10%;
  border-radius: 50%;
  background: rgb(140, 48, 255);
  background: linear-gradient(
    135deg,
    rgba(141, 48, 255, 0.205) 0%,
    rgba(72, 0, 129, 1) 100%
  );
  z-index: 2;
}

.circle2 {
  left: 80%;
  top: 60%;
  /*   background: rgb(24, 127, 255);
  background: linear-gradient(
    135deg,
    rgba(24, 127, 255, 1) 0%,
    rgba(0, 255, 126, 1) 100%
  ); */
}

.circle3 {
  top: 90%;
  left: 10%;
  height: 10rem;
  width: 10rem;
  /*   background: rgb(255, 243, 24);
  background: linear-gradient(
    135deg,
    rgba(255, 243, 24, 1) 0%,
    rgba(0, 230, 255, 1) 100%
  ); */
}

/* ! ==========> khush <========== */

/* .container {
  width: 100%;
} */

.background,
.forground {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.forground {
  z-index: 10;
}
