/* ! ==========> Z-index > 3 <========== */

*{
  padding: 0;
  margin:0;
  overflow-x: hidden;
}

 .back{
  overflow-x: hidden;
}


.glass {
  background: rgba(255, 255, 255, 0.25);
  backdrop-filter: blur(2rem);
  -webkit-backdrop-filter: blur(2rem);
  border: 1px solid rgba(255, 255, 255, 0.18);
  z-index: 3;
  position: absolute;
  height: 100vh;
  width: 100vw;
}
.circle1,
.circle2 {
  position: absolute;
  height: 20rem;
  width: 20rem;
  top: -10%;
  left: -10%;
  border-radius: 50%;
  background: rgb(175,67,199);
  background: linear-gradient(135deg, rgba(175,67,199,1) 0%, rgba(254,138,57,1) 100%); 
  z-index: 2;
}

.circle2 {
  left: 75%;
  top: 60%;
}

